@model RegisterModel
@{ ViewData["Title"] = "Registration"; }
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/64d58efce2.js"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/Identities/css/style.css">
    <title>Register New Admin</title>
</head>
<body>
    <div class="container">
        <div class="forms-container row row d-flex justify-content-center">
            <div class="signin-signup col-md-6 card-body border border-success rounded shadow p-3">
                <form asp-controller="Register" asp-action="Registration" method="post" class="sign-in-form">

                    <div>
                        <h2 st class="title text-center">Register New Admin</h2>
                        <hr /><br />
                    </div>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input asp-for="UserName" class="form-control" placeholder="UserName" />

                        <p asp-validation-for="UserName" class="text-danger"></p>

                    </div>

                    <div class="input-field">
                        <i class="fas fa-envelope"></i>
                        <input asp-for="Email" class="form-control" placeholder="Email" />

                        <p asp-validation-for="Email" class="text-danger"></p>
                    </div>

                    <div class="input-field">
                        <i class="fas"></i>
                        <input asp-for="PhoneNumber" class="form-control" placeholder="PhoneNumber" />

                        <p asp-validation-for="PhoneNumber" class="text-danger"></p>
                    </div>

                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input asp-for="Password" class="form-control" placeholder="Password" />

                        <p asp-validation-for="Password" class="text-danger"></p>
                    </div>

                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />

                        <p asp-validation-for="ConfirmPassword" class="text-danger"></p>
                    </div>

                    <div>
                        <button type="submit" class=" text-center btn btn-success col-md-3">Register</button>
                    </div>

                </form>
            </div>
        </div>

    </div>
</body>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
