@model EditRegistration
@{ ViewData["Title"] = "Edit Registration"; }
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Edit Registration</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Edit Registration</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Edit Registration</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <partial name="_ActionMessage" model="@Model.Response" />
                        <form asp-area="Admin" asp-controller="StudentRegistration" asp-action="Edit" method="post" class="form-horizontal">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" />
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="Student">Student Name</label>
                                    <select asp-for="StudentId" asp-items="@Model.GetStudentList()" class="form-control">
                                        <option>Please select one</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="Course">Course Name</label>
                                    <select asp-for="CourseId" asp-items="@Model.GetCourseList()" class="form-control">
                                        <option>Please select one</option>
                                    </select>
                                </div>

                                <label asp-for="EnrollDate" class=" control-label"></label>
                                <div class="col-md-10">
                                    <input asp-for="EnrollDate" class="form-control" />
                                    <span asp-validation-for="EnrollDate" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label asp-for="IspaymentComplete" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <input asp-for="IspaymentComplete" style="width:50px; height: 50px;" />
                                    <span asp-validation-for="IspaymentComplete" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-10">
                                    <input type="submit" class="btn btn-primary btn-lg" value="Submit" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>

@section PageScripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
}